* {
  padding: 0;
  margin: 0;
}
.ulist {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  position: fixed;
  background-color: aliceblue;
}
a {
  text-decoration: none;
}
.container {
  width: 500px;
  height: 1000px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 5px; */
  flex-wrap: wrap;
}
.box {
  width: 70px;
  height: 70px;
  background-color: chartreuse;
}
.image {
  width: 500px;
  height: 500px;
  position: relative;
}
p {
  position: absolute;
}
